<div class="container" data-aos="fade-up">
  <h2 class="mb-4">About</h2>
  <hr class="mx-auto mb-5 w-25" />
  <div class="section">
    <div class="image-section">
      <img src="{{ url_for('static', filename='images/abt.png') }}" alt="About me" />
    </div>
    <div class="content">
      <div class="article">
        <p>
          Hi, I'm Rahul Jaiswar, a dedicated and detail-oriented data analyst with
          a strong background in statistical analysis, data visualization, and
          machine learning. I have a passion for uncovering insights from data and
          using them to drive business decisions. With a solid foundation in
          Python, R, Tableau, and Power BI, I am skilled at transforming complex
          data into actionable insights.
        </p>
        <p>
          I hold a degree in [Degree] from [University], where I
          developed my analytical skills and honed my ability to work with large
          datasets. My professional experience includes working on various
          projects that involve data cleaning, analysis, and visualization to
          support business strategies and improve operational efficiency.
        </p>
        <div class="button">
          <a href="#" target="_blank">RESUME</a>
        </div>
      </div>
    </div>
  </div>
</div>
