<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rahul Jaiswar | Data Analyst</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <meta
      name="description"
      content="Portfolio showcasing the data analysis, visualization, and machine learning projects of Rahul Jaiswar."
    />
    <meta
      name="keywords"
      content="Data Analyst, Portfolio, Data Analysis, Visualization, Machine Learning"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Sofia|Trirong"
    />
  </head>
  <body>
    {% include 'nav.html' %}
    <main class="text-center py-5">
      <div class="container">{% block content %}{% endblock %}</div>
    </main>
    <footer id="contact" class="bg-dark text-white text-center py-3">
      <div class="container">
        <p>&copy; 2024 Rahul Jaiswar</p>
        <p>
          <a
            href="#"
            class="text-white"
            target="_blank"
            ><i class="fas fa-envelope" aria-hidden="true"></i
          ></a>
          |
          <a href="#" class="text-white" target="_blank"
            ><i class="fas fa-phone" aria-hidden="true"></i
          ></a>
          |
          <a
            href="#"
            class="text-white"
            target="_blank"
            ><i class="fab fa-linkedin" aria-hidden="true"></i
          ></a>
          |
          <a
            href="#"
            class="text-white"
            target="_blank"
            ><i class="fab fa-github" aria-hidden="true"></i
          ></a>
        </p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
      AOS.init({
        duration: 400,
        easing: "ease-in-out",
      });

      var typed = new Typed("#element", {
        strings: ["Hello!", "My Name is", "Rahul Jaiswar."],
        typeSpeed: 50,
      });
    </script>
  </body>
</html>
