<section id="certificates" class="my-5" data-aos="fade-up">
    <h2 class="mb-4">Certificates</h2>
    <hr class="mx-auto mb-5 w-25" />
    <div class="row">
        <!-- Certificate 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="certificate_image_1.jpg" class="card-img-top" alt="Certificate 1">
                <div class="card-body">
                    <h5 class="card-title">Course Title 1</h5>
                    <p class="card-text">Platform/Institution: [Name]</p>
                    <p class="card-text">Date of Completion: [Date]</p>
                    <!-- Add more details if necessary -->
                </div>
            </div>
        </div>
        <!-- Certificate 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="certificate_image_2.jpg" class="card-img-top" alt="Certificate 2">
                <div class="card-body">
                    <h5 class="card-title">Course Title 2</h5>
                    <p class="card-text">Platform/Institution: [Name]</p>
                    <p class="card-text">Date of Completion: [Date]</p>
                    <!-- Add more details if necessary -->
                </div>
            </div>
        </div>
        <!-- Add more certificate cards as needed -->
    </div>
</section>
